# Pandas Oracle 연동

In [ ]:
# conda install -c conda-forge cx_Oracle
# pip install cx_Oracle

In [9]:
import cx_Oracle as ora
import pandas as pd

In [24]:
#1. dsn
#2. conn
ora.makedsn('localhost',1521, service_name='orcl')
dsn = ora.makedsn('localhost', 1521, service_name = 'orcl')
conn = ora.connect(user='busan_06', password='dbdb', dsn = dsn)

#3. cursor
cursor = conn.cursor() # 커서 생성
sql = """ SELECT * FROM cart """

cursor.execute(sql)
row = cursor.fetchall()

colname = cursor.description
colname

# dsn 제외 close
# 오픈 순서 반대로 close
cursor.close() # 필수 !!
conn.close() # 필수 !!

[('CART_MEMBER', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 15, 15, None, None, 0),
 ('CART_NO', <cx_Oracle.DbType DB_TYPE_CHAR>, 13, 13, None, None, 0),
 ('CART_PROD', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 10, 10, None, None, 0),
 ('CART_QTY', <cx_Oracle.DbType DB_TYPE_NUMBER>, 9, None, 8, 0, 0)]

In [31]:
# 컬럼 뽑아오기
col=[]
for i in range(0,4,1):
    col.append(colname[i][0])
col

['CART_MEMBER', 'CART_NO', 'CART_PROD', 'CART_QTY']

In [33]:
pd.DataFrame(row, columns=col)

    CART_MEMBER        CART_NO   CART_PROD  CART_QTY
0          a001  2005040100001  P101000001         5
1          a001  2005040100001  P201000018        16
2          a001  2005040100001  P302000003         7
3          t001  2005040100002  P302000004         2
4          t001  2005040100002  P101000002         2
..          ...            ...         ...       ...
202        c001  2005072800003  P201000015         2
203        b001  2005072800004  P302000001         6
204        b001  2005072800004  P201000016        15
205        b001  2005072800004  P302000002         2
206        b001  2005072800004  P201000017         2

[207 rows x 4 columns]